.row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.row > button {
    margin-left: 4px;
    margin-right: 8px;
}

.row:not(:last-child) {
    margin-bottom: 16px;
}

.value {
    font-size: 78px;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 2px;
    font-family: 'Courier New', Courier, monospace;
}

.button {
    appearance: none;
    background: none;
    font-size: 32px;
    padding-left: 12px;
    padding-right: 12px;
    outline: none;
    border: 2px solid transparent;
    color: rgb(112, 76, 182);
    padding-bottom: 4px;
    cursor: pointer;
    background-color: rgba(112, 76, 182, 0.1);
    border-radius: 2px;
    transition: all 0.15s;
}

.containerBackground {
    background: #31293D;
    background: radial-gradient(at right bottom, #31293D, #1D1C1F);
}

.roundedContainer {
    background-color: rgba(0,0,0,.5);
    border-radius: 15px;
}

.headerContainer {
    margin-top: 2%;
    padding: 1%;
    background-color: rgba(0,0,0,.5);
    border-radius: 15px;
    border-left: 1px solid #704cb6;
    border-right: 1px solid #704cb6;
}

.defaultContainer {
    background-color: rgba(0,0,0,.5);
    border-radius: 15px;
    border-left: 1px solid #704cb6;
    border-right: 1px solid #704cb6;
}

.statContainer {
    border-radius: 15px;
    border-left: 1px solid #704cb6;
    border-right: 1px solid #704cb6;
}

.primaryButton {
    appearance: none;
    background: none;
    font-size: 32px;
    padding-left: 12px;
    padding-right: 12px;
    outline: none;
    border: 2px solid transparent;
    color: #BA79F7;
    padding-bottom: 4px;
    cursor: pointer;
    background-color: rgba(112, 76, 182, 0.1);
    border-radius: 2px;
    transition: all 0.15s;
}

.textbox {
    font-size: 32px;
    text-align: center;
    color: #BA79F7;
}

.button:hover,
.button:focus {
    border: 2px solid rgba(112, 76, 182, 0.4);
}

.button:active {
    background-color: rgba(112, 76, 182, 0.2);
}

.asyncButton {
    composes: button;
    position: relative;
}

.asyncButton:after {
    content: '';
    background-color: rgba(112, 76, 182, 0.15);
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transition: width 1s linear, opacity 0.5s ease 1s;
}

.asyncButton:active:after {
    width: 0%;
    opacity: 1;
    transition: 0s;
}
